.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
  }
@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0)
    }
  20%,60% {
    transform: rotate(-25deg)
  }
  40%,80% {
    transform: rotate(10deg)
  }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

body {
  color: #475577;
  font-size: 20px;
}
h1 {
  color: #41A85F;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 100px;
}
h2 {
  color: #75706B;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 100px;
  font-style: italic;
}
#motivation {
  margin-top: 10000px;
  margin-bottom: 100px;
  text-align: center;
}
#input {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
input[type=button] {
  font-size: 15px;
  background-color: #41A85F;
  color: white;
  border-width: 1px;
  border-color: #D1D5D8;
}
input[type=button]:hover {
  background-color: #61BD6D;
}
#name {
  width: 100px;
  margin-right: 20px;
}
#age {
  width: 50px;
  margin-right: 20px;
}
#start, #end {
  width: 150px;
}
#output {
  margin: auto;
  text-align: center;
}
.values {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 20px;
}
.bottom {
  font-size: 30px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: #9365B8;
}
